body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: rgb(239, 242, 240);
}
#LoginButton{
    background: linear-gradient(to right, rgb(139,92,246),rgb(14,165,233));
    color: white;
}
.login-card{
    box-shadow:0px 0px 4px rgb(0,0,0,0.5);
}